<header>
	<span>Elements</span>
	<ul id="menu">
		<li><a href="/">Stars</a></li>
		<li><a href="/planets">Planets</a></li>
		<li><a href="/moons">Moons</a></li>
	</ul>
</header>
<main>
	<div class="filter">
		<span>Filters</span>
		<label for="filter-name">Name</label>
		<div class="filter-input"><input type="text" name="filter-name"></div>

		<label for="filter-planet">Number</label>
		<div class="filter-input"><input type="text" name="filter-planet"></div>

		<button id="filter-update-button">Update</button>
	</div>
	<table>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Atomic Number</th>
		</tr>
		{{#each elements}}
		<tr>
			<td><img src="{{name}}.png" alt="{{name}}" style="width:auto;height:150px;"></td>
			<td>{{name}}</td>
			<td>{{number}}</td>
		</tr>
		{{/each}}
	</table>
</main>